  
  
  html, body 
  {
    background:#fff none repeat scroll 0 0;
    color:#000;
    font-family:Helvetica, Verdana, Geneva, sans-serif;
    margin:0;
    padding: 0px;
    height:100%;
    font-size:9px
  }
  a
  {
      text-decoration:none;
  }
img
  {
   border:none;
   padding:0px;
   margin:0px;   
  }
  table, tr, td
  {
      font-size:9px;
  }
ul
{
    list-style-type:none;
    margin:0px;
    padding:5px;
}
ul li
{
 padding:4px 0 4px 0;
 margin:0px;
 overflow:hidden;
}
  h1
  {
     text-align:center;
     font-size:18px;
     color:#FFC312;
  }
#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#fff;
   text-align:center;
   
}
#body {
   margin-left:2.5%;
   margin-right:2.5%;
   padding-bottom:9%;   /* Height of the footer */
}
#footer 
{

   position:absolute;
   bottom:0;
   margin-left:2.5%;
   margin-bottom:5%;
   width:95%;
   height:9%;   /* Height of the footer */
   background:#fff;
   text-align:center;
   
}

.innercontainer
{
    width:100%;
    margin:0px auto 0px auto;
    height:100%;
 
}
.fullwidth
{
    width:95%;
    margin:0px auto 0px auto;
    clear:both;
    padding-bottom:20%;
}
.one-half
{
    width:50%;
    float:left;   
    padding-bottom:20%;
}
.last
{
}
.alignTextCenter
{
    text-align:center;   
}
.alignRight
{
    float:right;
}
.alignLeft
{
    float:left;
}
.locations, .inventory
{
 font-size:9px;
 padding:5px;
 overflow:scroll;   
 border:1px solid #bbd1e8;
 background: #ffffff;
 margin-bottom:0px;
}
.connection
{
 clear:both; 
 color: #557187;    
 font-size:10px;
}

.login-info
{
 font-size:9px;
 color: #557187;
 clear:both;   
 text-align:right;
}

.smallFont
{
    font-size:8px;
    color:Black;
}

#connected 
{
display:inline;
}
.label
{
    padding:0px;
    font-weight:bold;
    font-size:12px;
    margin:0px;
}
.logo
{
    padding-top:4%;
    padding-bottom:15%;
}
.logoSmall
{
    padding-top:20px;
    padding-left:5%;
}
.textAlignRight
{
    text-align:right;
    padding-right:2.5%;
}

.clearBoth
{
    clear:both;
    border:none;
}

.inventoryLabel
{
   padding-left:17.5%;
   padding-bottom:0px;
   margin-bottom:0px;
   color:#0c406f;
}
.middleAlign
{
    vertical-align:middle;
}
.locationTitle
{
    padding-left:3%;
    font-size:10px;
    color:#0c406f;
    font-weight:bold;
}
.registrations
{
    font-size:10px;
    padding-left:3%;
}
.locationsFolder
{
    float:right;
    padding-top:40px;
    padding-right:5%;
}
.headerBG
{
    
    width:100%;
    margin:0px;
    padding:0px;
    background-image:url('images/header_bg.png');
    background-repeat:repeat-x;   
    background-position:bottom;
    height:70px;
}
.itemNumberLabel, .itemNameLabel
{
    font-weight:bold;
    font-size:10px;
    color:#0c406f;
    padding-left:12%;
}
.itemQuantity, .itemNumber, .itemName
{
    font-weight:bold;
    font-size:9px;
    color:#0c406f;
    white-space:nowrap;
}
.itemQuantity, .itemNumber
{
    text-align:center;
}
.itemNumber
{
 width:30%;   
}
.itemName
{
width:60%;
    
}